<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>App</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <p>
                <span>Weekly Timesheet</span>
            </p>
            <p style="margin-top: 20px;">Project</p>
        </div>
        <div class="main">
            <div>
                <p class="project-name">Lccp</p>
                <p></p>
            </div>
        </div>
        <div class="footer">
            <p class="button" style="background-color:#67D9D4;color: white;">Save</p>
            <p class="button" style="background-color:#EFEFEF;color: #AFAFAF;margin-left: 15px;">Submit</p>
        </div>
    </div>
</body>
</html>