body {
    background: linear-gradient(to right, #4DA3CC , #72C4AC);
    height: 100%;
    width: 100%;
}

p {
    margin: 0px;
}

.container {
    width: 700px;
    margin: auto;
}

.header {
    background-color: #F8FAF7;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

.main {
    background-color: white;
    height: 200px;
    padding: 20px;
}

.footer {
    background-color: #F9F9F9;
    border-radius: 0 0 20px 20px;
    padding: 20px;
}

.button {
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 5px 0px;
}